class {{name}}(enum.Flag):
{% if description %}    {{description | repr}}
{% endif %}{% for ch in choices %}    {{ch.name}} = {{ch.value}}{% if ch.description %} # {{ch.description}}{% endif %}
{% endfor %}